{% extends "base.html" %}
{% block content %}
    <h1 class="text-2xl font-bold text-green-800 mb-6">{{ titre }}</h1>
    <div class="flex justify-center">
        <form class=" border border-stone-300 rounded-2xl p-4" action="{% url 'ajout_aquarium' %}" method="post">
            {% csrf_token %}
            {{ formulaire_aquarium }}
            <div class="m-4">

                <button type="submit" class="w-full bg-green-800 hover:bg-green-700 text-green-50 font-semibold
             rounded-lg py-2 text-sm transition-colors mb-2">Enregistrer
                </button>
                <a href="{% url 'accueil' %}"
                   class="block w-full text-center border border-stone-300 text-stone-600 bg-taupe-700
             hover:bg-stone-200 font-semibold rounded-lg py-2 text-sm transition-colors">Annuler</a>
            </div>
        </form>
    </div>
{% endblock %}