{% extends 'base.html' %}

{% block content %}
   <h1>{{ titre }}</h1>
    <table>
        <caption>Liste des Analyses</caption>
        <thead>
        <tr>

            <th>Aquarium</th>
            <th>Date</th>
            <th>NO2(mg/L)</th>
            <th>NO3(mg/L)</th>
            <th>NH4(mg/L)</th>
            <th>pH</th>
            <th>KH(°dKH)</th>
            <th>GH(°dGH)</th>
            <th>SiO2(mg/L)</th>
            <th>PO4(mg/L)</th>
            <th>MG(mg/L)</th>
            <th>Fe(mg/L)</th>
            <th>CU(mg/L)</th>
            <th>TDS(ppm)</th>
            <th>Température(°C)</th>
            <th>Observation</th>
        </tr>
        </thead>
        <tbody>
        {% for analyse in liste_analyses %}
            <tr>
                <td>{{ analyse.aquarium }}</td>
                <td>{{ analyse.date_analyse }}</td>
                <td>{{ analyse.no2 }}</td>
                <td>{{ analyse.no3 }}</td>
                <td>{{ analyse.nh4 }}</td>
                <td>{{ analyse.ph }}</td>
                <td>{{ analyse.kh }}</td>
                <td>{{ analyse.gh }}</td>
                <td>{{ analyse.sio2 }}</td>
                <td>{{ analyse.po4 }}</td>
                <td>{{ analyse.mg }}</td>
                <td>{{ analyse.fe }}</td>
                <td>{{ analyse.cu }}</td>
                <td>{{ analyse.tds }}</td>
                <td>{{ analyse.temperature }}</td>
                <td>{{ analyse.observation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
