{% load tailwind_tags %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% tailwind_css %}
    <title>{{ titre }}</title>
</head>

<body class="flex flex-col full bg-indigo-900 text-white">
<div class="flex-1">
    {% include 'aquariums/menus.html' %}
</div>
<div class="flex-4 p-4">
    {% block content %} {% endblock %}
</div>
<div class="flex-auto">

    <div class="flex justify-center-safe h-48 mt-4 bg-indigo-500">
        <footer class="flex flex-col items-center justify-center text-center">
            <small class="text-xs italic">Gestionnaire Aquariums v{{ version }}</small>
        </footer>
    </div>
</div>
</body>

</html>