{% load tailwind_tags %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% tailwind_css %}
    <title>{{ titre }}</title>
</head>

<body>
{% include 'aquariums/menus.html' %}
<div>
    {% block content %} {% endblock %}
</div>
<div class="flex justify-center-safe h-48 mt-4 bg-indigo-500">

    <footer class="flex flex-col items-center justify-center text-center">
        <p class="text-xs italic">Gestionnaire Aquariums v{{ version }}</p>
    </footer>
</div>
</body>

</html>