{% load tailwind_tags %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% tailwind_css %}
    <title>{{ titre }}</title>
</head>

<body class="flex flex-col min-h-screen bg-stone-100 text-white">

<div class="flex flex-row flex-1">
    {# Barre latérale #}
    <div class="bg-green-900 sticky top-0 h-screen flex flex-col text-green-100">
        <div class="m-4 flex flex-col h-full">
            <div class="text-2xl font-bold mb-4 text-center text-green-300">Gestionnaire <br>Aquariums</div>
            <div class="">
                {% include 'aquariums/menus.html' %}
            </div>
            <div class="mt-auto p-3 bg-green-800/50 text-green-400 rounded-xl">
                <small class="text-sm italic">Version {{ version }}</small>
            </div>
        </div>
    </div>

    {# Contenu principal #}
    <div class="m-4 flex-1 text-stone-800">
        {% block content %} {% endblock %}
    </div>
</div>

{# Pied de page #}
<footer class="bg-green-800 text-green-200 text-white p-4 w-full mt-auto">
    <div class="container mx-auto text-center">
        {# contenu footer #}
            &copy; {{ annee }} Gestionnaire d'Aquariums. Tous droits réservés.
    </div>
</footer>

</body>

</html>